/artifacts/
/coverage/
/coverage.json
/deployments/localhost/
/deployments/*/solcInputs/
/docs/
/target/
/types/

.vscode/
cache/
node_modules/
.DS_Store
.env
.env.*
*.log
*.code-workspace
.*-version*
